body {
    font-weight: 300;
}

.welcome-section {
    background-color: #333;
    color: #fff;
    padding: 80px;
    text-align: center;
}

.welcome-section__image {
    border-radius: 50%;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.welcome-section__title {
    font-weight: 300;
}

.welcome-section__subtitle {
    color: #fff200;
}

.welcome-section__subtitle small {
    display: block;
    font-weight: 600;
    color: #fff;
}

.navbar ul {
    margin: auto;
}

.navbar a {
    color: #999;
    font-size: 14px;
}

.navbar a:hover {
    color: #fff200;
}

.portfolio-section {
    padding: 40px 0;
}

.portfolio-section:nth-child(odd) {
    background-color: #f7f7f7;
}

.portfolio-section__description {}

.portfolio-section__title {
    text-align: center;
    margin-bottom: 15px;
}

.project {
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
}

.project__thumbnail {
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
}

.project__name {
    font-size: 22px;
}

.project__short-description {
    font-size: 14px;
}

.project__date {
    font-weight: 700;
    font-size: 12px;
}

.portfolio-footer {
    background-color: #333;
    color: #999;
    padding: 60px;
}

.portfolio-footer p {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    margin: 0;
}

.portfolio-footer a {
    font-size: 28px;
    vertical-align: middle;
    color: #999;
    margin-left: 3px;
}

.portfolio-footer a:hover {
    color: #fff200;
}

.career-path {
    padding-top: 50px;
    padding-bottom: 50px;
}

.role {
    padding: 25px;
}

.role:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -12.5px;
    height: 25px;
    width: 25px;
    background-color: #333;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #333;
    border-radius: 50%;
}

.role:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #333;
}

.role__title {
    font-size: 22px;
    margin-bottom: 0;
}

.role__company {
    margin: 0;
}

.role__period {
    font-size: 14px;
    font-weight: 700;
}

.role--right {
    text-align: right;
}

.role--right:after {
    right: -12.5px;
}

.role--right:before {
    right: -0.5px;
}

.role--left {
    text-align: left;
}

.role--left:after {
    left: -12.5px;
}

.role--left:before {
    left: -0.5px;
}

@media screen and (max-width: 768px) {
    .role--left, .role--right {
        text-align: center;
    }

    .role::after, .role::before {
        display: none;
    }

    .career-path {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}